.front-girl{
    width: 25%;
    position: absolute;
    left: 55%;
    z-index: 1;
}

.front-rect{
    background-color: #7BB1BE;
    color: white;
    position: absolute;
    width: 8rem;
    left: 78%;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 32px;
    font-size: 22px;
    text-align: center;
    padding: 10% 2% 2%;
}